<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Questions & Answers - {% endblock %}</title>
</head>
<body>
    {% block content %}
    <nav class="navigation">
        <a href="/">New questions</a> |
        <a href="/popular/">Popular questions</a> |
        <a href="/ask/">Ask a Question</a> |
        <a href="/signup/">Sign Up</a> |
        {% if not request.user.is_anonymous %}
            Current user:
            {{ request.user }}
            <a href="/logout/">Log Out</a>
        {% else %}
            <a href="/login/">Log In</a>
        {% endif %}
    </nav>
    <h1>{{ title }}</h1>
    {% endblock %}
</body>
</html>